/* Commerce Points slider CSS */
#edit-commerce-points-order-ratio-money-amount,
#edit-money-amount {
  float:left;
}
#edit-commerce-points-order-ratio-points-amount,
#edit-points-amount {
  float:right;
}
#edit-commerce-points-order-ratio-price-slider .ui-slider-handle,
.commerce-add-to-cart .ui-slider-handle {
  cursor:pointer;
}
.commerce-points-price-slider {
  clear: both;
}
.commerce-points-price-fields-container {
  clear: both;
}
.commerce-points-ajax-loader {
  width: 220px;
  height: 19px;
  background: url('../img/ajax-loader.gif') no-repeat;
}
